@use '../mixins/responsive.scss' as*;

.article {
    padding-bottom: 60px;

    @include responsive(desktop) {
        padding-bottom: 160px;
    }
}

.article-two-cols {
    @include responsive(desktop) {
        display: flex;
    }

    &__image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: static;

        @include responsive(desktop) {
            width: 56%;
            margin: 0;
            position: relative;
            left: -70px;
        }
    }

    &__text {
        @include responsive(desktop) {
            max-width: 350px;
            text-align: left;
            position: relative;
            left: 36px;
        }
    }
}

.image {
    margin-left: auto;
    margin-right: auto;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include responsive(desktop) {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        gap: 1rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__icon {
        height: 32px;
    }
}