@use '../mixins/responsive.scss' as *;

.text {
    color: var(--grayish-blue);
    line-height: 1.5;
    margin-bottom: 2rem;

    @include responsive(desktop) {
        max-width: 650px;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
}